<%= simple_form_for @task, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name %>
  <%= f.input :price %>
  <%= f.input :execution_time %>
  <%= f.input :priority %>
  <%= f.input :measurement %>

  <div class="form-actions">
    <%= f.button :submit %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                tasks_path, :class => 'btn' %>
  </div>
<% end %>