<%- model_class = Client -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %> &laquo;<%= @client.name %>&raquo;</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @client.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:phone) %>:</strong></dt>
  <dd><%= @client.phone %></dd>
  <dt><strong><%= model_class.human_attribute_name(:details) %>:</strong></dt>
  <dd><%= @client.details %></dd>
  
  <% unless @client.orders.empty? %>
    <dt><strong><%= @client.orders.model_name.human(count: 1.1) %>:</strong></dt>
    <dd>
      <ul>
        <% @client.orders.each do |order| %>
        <li><%= link_to order.started_at, client_order_path(@client, order) %></li>
        <% end %>
        <li>
          <%= link_to t('.new', default: t("helpers.links.new")),
                      new_client_order_path(@client), class: 'btn btn-mini btn-primary' %>
        </li>
      </ul>
    </dd>
  <% end %>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              clients_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_client_path(@client), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              client_path(@client),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
